body {
    background-color: #f0f8ff;
    padding: 10px;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    color: #003366;
    text-align: center;
    padding: 5px;
}

.text-area, .button {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #003366;
    border-radius: 5px;
}

.button:disabled {
    background-color: grey;
}

.button:hover:enabled {
    background-color: #0056b3;
}

/* Ensure buttons don't shrink too much on smaller screens */
.col-2 {
    min-width: 80px; /* Adjust this value based on your design needs */
}

#outputText {
    height: auto;
    min-height: 100px;
    resize: vertical;
}